# To use open AI a key is required
OPENAI_KEY=sk-svcacct-your-key-here
# To create backups, a user and password for CSIC's SACO is required
BPM_PORT=13000
MINIO_PORT_9000=9000
MINIO_PORT_9001=9001
MILVUS_PORT_19530=19530
MILVUS_PORT_9091=9091
SACO_USER=<your nif>
SACO_PASSWORD=<a token created @ CSIC's SACO> 
BPM_GID=1000
BPM_UID=1001