pandas
numpy
openai
mecoda-minka
python-dotenv
tabulate
langchain
langchain-openai
langchain-experimental
langchain-milvus
langchain-community
langchain-core
pymilvus
langchain-huggingface
huggingface-hub
langgraph
streamlit==1.42.0
schedule
pyaml-env
python-gettext
streamlit-cookies-controller
sqlalchemy
wikipedia
streamlit-modal
matplotlib
Authlib
plotly
kaleido
geopandas
shapely
pypdf
